body {
  /* Add 1em below to allow user to sanity-check it's the true end-of-page */
  /* Use margin instead of padding as most user agents have a margin we don't want */
  margin: 0 0 1em 0;
  font-family:
    "Segoe UI",
    "Segoe UI Web (West European)",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  @media (prefers-color-scheme: dark) {
    background-color: hsl(232, 65%, 7%);
    color: #e2dff5;
  }
}

figcaption {
  font-size: smaller;
}

h1 {
  font-size: 3em;
}

div {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  & hr {
    width: 640px;
  }
}

hr {
  width: 320px;
  max-width: calc(100% - 64px);
}

a {
  text-decoration: underline;
  border-radius: 5px;

  /* See docs/tests.md for link state test matrix */
  color: hsl(235, 68%, 85%);
  &:hover {
    outline: 2px solid rgb(9 115 131);
  }
  &:visited {
    color: hsl(245, 8%, 67%);
  }
  &:visited:hover {
    outline: 2px solid hsl(245, 8%, 67%);
  }
  &:visited:active {
    outline: 2px solid black;
    color: black;
  }
  &:active {
    outline: 2px solid black;
    color: black;
  }

  @media (prefers-color-scheme: dark) {
    color: rgb(0, 162, 174);
    &:hover {
      outline: 2px solid rgb(0, 162, 174);
    }
    &:visited {
      color: rgb(219, 8, 219);
    }
    &:visited:hover {
      outline: 2px solid rgb(219, 8, 219);
    }
    &:visited:active {
      outline: 2px solid #e2dff5;
      color: #e2dff5;
    }
    &:active {
      outline: 2px solid #e2dff5;
      color: #e2dff5;
    }
  }
}

div.headerImages {
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
  /* Row-gap in case of wraparound */
  row-gap: 1em;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1em;
}

img.headerImage {
  height: 12em;
  width: 12em;
  border-radius: 5%;
}

/* Apply to divs to get center margin */
.article {
  margin: 0 auto;
  max-width: 640px;
  @media (max-width: 640px) {
    /* Adjust vertical padding as well, generally "cozier" view */
    padding: 4px;
    max-width: calc(100vw - 24px);
  }
  h1 {
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    margin-bottom: 12px;
  }
  img {
    max-width: 640px;
    border-radius: 5%;
  }
  figure img {
    max-width: 100%;
  }
}

.markdown h1 {
  margin-top: 2rem;
}

.markdown p {
  line-height: 1.6;
}

.markdown code {
  background: #222;
  padding: 0.2em 0.4em;
}

.dropdown{
  display: inline-block;
}

.dropdown button {
  background-color: hsl(0, 0%, 80%);
  color: black;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;

}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.799)

}

.dropdown:hover .content {
  display: block;
}

.dropdown:hover button {
  background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover {
  background-color: hsl(0, 0%, 90%);

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  transition: transform 0.25s ease;
  display: block;
}

.logo:hover {
  transform: scale(1.08);
  cursor: pointer;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.2));
}

* {
  background-color: hsl(232, 65%, 7%);
  color: hsl(260, 13%, 95%)
}